
@{
    Layout = null;
}
@using Motel.ViewModels
@model QuanLyPhongViewModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, YourProjetcName

<form class="simple_form form-horizontal" asp-controller="PhongTro" asp-action="AddOrEdit" asp-route-id="@Model.phong.MaPH" onsubmit="return jQueryAjaxPost(this);" novalidate="novalidate"
      id="new_admin_building" accept-charset="UTF-8" data-remote="true">
    <input name="utf8" type="hidden" value="✓">
    <ul class="errors"></ul>
    <div class="form-group form-md-line-input row">
        <label class="col-md-2 control-label">
            Tên khu nhà
            <span class="required" aria-required="true"> * </span>
        </label>
        <div class="col-md-4">
            <select asp-for="phong._MaNT" class="text required bg-maxlength form-control"
                    name="phong._MaNT"
                    id="_MaNT" tabindex="-1" aria-hidden="true">
                @{

                    foreach (var item in Model.listNhaTro)
                    {
                        <option value="@item.MaNT">@item.Ten</option>
                    }
                }
            </select>
            <div class="form-control-focus"></div>
        </div>

        <label class="col-md-2 control-label">
            Tầng
            <span class="required" aria-required="true"> * </span>
        </label>
        <div class="col-md-4">
            <input asp-for="phong.Tang" class="string required bg-maxlength form-control"
                   name=phong.Tang id="Tang"
                   placeholder="Tên phòng" maxlength="50" size="50" min="0" type="number">
            <div class="form-control-focus"></div>
        </div>
    </div>

    <div class="form-group form-md-line-input row">
        <label class="col-md-2 control-label">
            Tên phòng
            <span class="required" aria-required="true"> * </span>
        </label>
        <div class="col-md-4">
            <input class="string required bg-maxlength form-control"
                   placeholder="Nhập tên Khu/Tòa nhà" maxlength="50" size="50" type="text"
                   asp-for="phong.Ten" name=phong.Ten
                   id="Ten">

        </div>
        <label class="col-md-2 control-label">Số tối đa</label>
        <div class="col-md-4">
            <input asp-for="phong.SoNguoiToiDa" name=phong.SoNguoiToiDa class="string required bg-maxlength form-control"
                   placeholder="Số người tối đa" maxlength="50" size="50"
                   type="number" min="0" max="10" id="SoNguoiToiDa">
            <div class="form-control-focus"></div>
        </div>
    </div>

    <div class="form-group form-md-line-input row">
        <label class="col-md-2 control-label">Loai phòng</label>
        <div class="col-md-4">
            <select asp-for="phong._MaLP" class="text required bg-maxlength form-control"
                    name=phong._MaLP
                    id="_MaNT" tabindex="-1" aria-hidden="true">
                @{
                    foreach (var item in Model.listLoaiPhong)
                    {
                        <option value="@item.MaLP">@item.Ten</option>
                    }
                }
            </select>
            <div class="form-control-focus"></div>
        </div>

        <label class="col-md-2 control-label">Trạng thái phòng</label>
        <div class="col-md-4">
            <select asp-for="phong._MaTTPH" class="text required bg-maxlength form-control"
                    name=phong._MaTTPH
                    id="_MaTTPH" tabindex="-1" aria-hidden="true">
                @{
                    foreach (var item in Model.listTrangThaiPhong)
                    {
                        <option value="@item.MaTTPH">@item.Ten</option>
                    }
                }
            </select>
            <div class="form-control-focus"></div>
        </div>
    </div>

    <div class="form-actions margin-top-10">
        <div class="row">
            <div class="col-md-12 text-right">
                <button type="button" onclick="closeForm()" class="btn btn-default" data-dismiss="modal">
                    <i class="fa fa-arrow-circle-o-left" aria-hidden="true"></i>Hủy bỏ
                </button>
                <button name="button" type="submit" class="btn btn-default btnFormSubmit btn green">
                    <i class="fa fa-floppy-o" aria-hidden="true"></i>  Lưu lại
                </button>
            </div>
        </div>
    </div>
</form>
