@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, YourProjetcName
@using Motel.Models
@model List<ManHinh>

<div>
    <nav class="mt-2">

        <ul id="nana" class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">

            <li class="nav-item has-treeview">
                <div class="nav-link ">
                    <i class="fa fa-hotel"></i>
                    <p>
                        Nhà trọ
                        <i class="fas fa-angle-left right"></i>
                    </p>

                </div>
                <ul class="nav nav-treeview">
                    @foreach (var item in Model)
                    {
                        <li class="nav-item">
                            <div class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>
                                    @Html.ActionLink(item.TenManHinh, "Index", item.Controller)
                                </p>
                            </div>
                        </li>
                    }

                    @*<li class="nav-item">
                            <div class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p> @Html.ActionLink("Dịch vụ", "Index", "DichVu")</p>
                            </div>
                        </li>*@

                </ul>
            </li>

            @*<li class="nav-item has-treeview">
                    <a href="#" class="nav-link">
                        <i class="fa fa-bed"></i>
                        <p>
                            Phòng
                            <i class="fas fa-angle-left right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <div class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p> @Html.ActionLink("Phòng trọ", "Index", "PhongTro")</p>
                            </div>
                        </li>
                        <li class="nav-item">
                            <div class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p> @Html.ActionLink("Loại Phòng trọ", "Index", "LoaiPhong")</p>
                            </div>
                        </li>

                    </ul>
                </li>


                <li class="nav-item has-treeview">
                    <a href="#" class="nav-link">
                        <i class="fa fa-users"></i>
                        <p>
                            Người trọ
                            <i class="fas fa-angle-left right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <div class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p> @Html.ActionLink("Đặt Phòng", "Index", "DatPhong")</p>
                            </div>
                        </li>
                        <li class="nav-item">
                            <div class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p> @Html.ActionLink("Hợp đồng", "Index", "HopDong")</p>
                            </div>
                        </li>
                        <li class="nav-item">
                            <div class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>@Html.ActionLink("Khách thuê", "Index", "KhachHang")</p>
                            </div>
                        </li>
                        <li class="nav-item">
                            <div class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>@Html.ActionLink("Phương tiện", "Index", "PhuongTien")</p>
                            </div>
                        </li>
                    </ul>
                </li>

                <li class="nav-item has-treeview">
                    <a href="#" class="nav-link">
                        <i class="far fa-credit-card"></i>
                        <p>
                            Hóa đơn
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <div class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>  @Html.ActionLink("Điện nước", "Index", "DienNuoc")</p>
                            </div>
                        </li>
                        <li class="nav-item">
                            <div class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p> @Html.ActionLink("Xuất hóa đơn", "Index", "XuatHoaDon")</p>
                            </div>
                        </li>
                        <li class="nav-item">
                            <div class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p> @Html.ActionLink("Hóa đơn hàng tháng", "Index", "HoaDon")</p>
                            </div>
                        </li>

                    </ul>
                </li>

                <li class="nav-item has-treeview">
                    <a href="#" class="nav-link">
                        <i class="far fa-credit-card"></i>
                        <p>
                            Báo cáo
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p></p>
                            </a>
                        </li>

                    </ul>
                </li>

                <li class="nav-item has-treeview">
                    <a href="#" class="nav-link">
                        <i class=" far fa-plus-square"></i>
                        <p>
                            Hệ thống
                            <i class="fas fa-angle-left right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Đăng xuất</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <div class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>
                                    @Html.ActionLink("Đăng kí tài khoản", "Index", "TaoTaiKhoan")
                                </p>
                            </div>
                        </li>
                        <li class="nav-item">
                            <div class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>
                                    @Html.ActionLink("Quản lý nhóm người dùng", "Index", "NhomNguoiDung")
                                </p>
                            </div>
                        </li>
                        <li class="nav-item">
                            <div class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>
                                    @Html.ActionLink("Phân quyền người dùng", "Index", "PhanQuyen")
                                </p>
                            </div>
                        </li>
                        <li class="nav-item">
                            <div class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>
                                    @Html.ActionLink("Đơn vị tính", "Index", "DonViTinh")
                                </p>
                            </div>
                        </li>
                        <li class="nav-item">
                            <div class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>
                                    @Html.ActionLink("Quản lý dịch vụ", "Index", "LoaiDichVu")
                                </p>
                            </div>
                        </li>
                    </ul>
                </li>*@

        </ul>

    </nav>

</div>


