
@{
    Layout = null;
}

@using Motel.ViewModels
@model CommonViewModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, YourProjetcName

<div class="row">
    <div class="card-body">
        <table class="table table-striped table-bordered table-hover">
            <thead>
                <tr>
                    <th></th>

                    <th>Ngày ghi số</th>
                    <th>Phòng</th>
                    <th>CS Điện cũ</th>
                    <th>CS Điện mới</th>
                    <th>CS Nước cũ</th>
                    <th>CS Nước mới</th>

                    <th></th>

                </tr>
            </thead>

            <tbody>
                @{

                    foreach (var item in Model.qlDienNuocViewModel.listDienNuoc)
                    {
                        <tr class="item-1932 highlight">
                            <td class="text-center">
                                @if (item.DaChotSo == true)
                                {

                                    <a style="background-color:aquamarine;" data-remote="true"><i></i>Đã chốt số.</a>
                                }
                                else
                                {
                                    <a class="btn btn-circle btn-icon-only btn-default tooltips"
                                       onclick="ShowPopup('@Url.Action("AddOrEdit","DienNuoc",new { id = item.MaDienNuoc }, Context.Request.Scheme)','Chỉnh sửa')"
                                       data-placement="top" data-original-title="Chỉnh sửa"><i class="fas fa-edit"></i></a>
                                }
                            </td>
                            <td>@item.NgayGhi</td>
                            <td>@item.TenPhong</td>
                            <td>@item.CSCuDien</td>
                            <td>@item.CSMoiDien</td>
                            <td>@item.CSCuNuoc</td>
                            <td>@item.CSMoiNuoc</td>

                            <td class="text-center">
                                <form asp-action="Delete"
                                      asp-route-id="@item.MaDienNuoc"
                                      onsubmit="return jQueryAjaxDelete(this)">
                                    <button type="submit"
                                            class="btn red btn-circle btn-icon-only btn-default">
                                        <i class="fas fa-trash"></i>
                                    </button>
                                </form>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>
