
@{
    Layout = null;
}
@using Motel.ViewModels
@model QuanLyDatPhongViewModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, YourProjetcName


<div class="row">
    <div class="card-body">
        <table class="table table-striped table-bordered table-hover">
            <thead>
                <tr>
                    <th class="text-center">
                    </th>
                    <th>Phòng</th>
                    <th>Người đặt cọc</th>
                    <th>Số điện thoại</th>
                    <th>Tiền đặt cọc</th>
                    <th>Ngày đặt cọc</th>
                    <th>Ngày hết hạn</th>
                    <th></th>
                </tr>
            </thead>

            <tbody>
                @{

                    foreach (var item in Model.listDatPhong)
                    {
                        <tr class="item-1932 highlight">
                            <td class="text-center">
                                <div class="btn-group">
                                    <button class="btn btn-xs green dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
                                        Tác vụ
                                        <i class="fa fa-angle-down"></i>
                                    </button>
                                    <ul class="dropdown-menu" role="menu">
                                        <li>
                                            <a data-remote="true" onclick="ShowPopup('@Url.Action("AddOrEdit","DatPhong",new { id = item.MaDP }, Context.Request.Scheme)','Chỉnh sửa')"><i class="fas fa-edit"></i> Chỉnh sửa</a>
                                        </li>
                                        <li>
                                            <a data-remote="true" onclick="ShowPopupLarge('@Url.Action("AddOrEdit","HopDong",new { id = 0, idDatPhong = item.MaDP }, Context.Request.Scheme)','Chỉnh sửa')"><i class="fas fa-handshake-o" aria-hidden="true"></i>Nhận phòng</a>
                                        </li>
                                        <li class="divider"></li>
                                        <li>
                                            <a>
                                                <i class="fas fa-file-word-o"></i> Giấy nhận cọc
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </td>
                            <td>@item.TenPhong</td>
                            <td>@item.TenKhachHang</td>
                            <td>@item.SoDienThoai</td>
                            <td>@item.SoTienCoc</td>
                            <td>@item.NgayDat</td>
                            <td>@item.NgayHetHan</td>
                            <td class="text-center">
                                <form asp-action="Delete"
                                      asp-route-id="@item.MaDP"
                                      onsubmit="return jQueryAjaxDelete(this)">
                                    <button type="submit"
                                            class="btn red btn-circle btn-icon-only btn-default">
                                        <i class="fas fa-trash"></i>
                                    </button>
                                </form>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>