
@{
    ViewData["Title"] = "Index";
    Layout = null;
}
@model NhaTroViewModel
@using Motel.ViewModels
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, YourProjetcName


<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <span class="caption-subject font-green sbold uppercase">Danh sách nhà trọ</span>
                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse">
                        <i class="fas fa-minus"></i>
                    </button>

                    <div class="btn-group">
                        <button type="button" class="btn btn-tool dropdown-toggle" data-toggle="dropdown">
                            <i class="fas fa-wrench"></i>
                        </button>
                        <div class="dropdown-menu dropdown-menu-right" role="menu">
                            <a href="#" class="dropdown-item">Action</a>
                            <a href="#" class="dropdown-item">Another action</a>
                            <a href="#" class="dropdown-item">Something else here</a>
                            <a class="dropdown-divider"></a>
                            <a href="#" class="dropdown-item">Separated link</a>
                        </div>
                    </div>
                </div>
            </div>


            <!-- /.card-header -->
            <div class="card-body">
                <div class="text-right">
                    <button onclick="ShowPopup('@Url.Action("AddOrEdit","NhaTro",new { id = 0}, Context.Request.Scheme)','Thêm mới')" type="button" 
                            class="btn green btn-outline btn-circle btn-sm tooltips" data-original-title="Thêm mới"><i class="fa fa-plus"></i> Thêm mới</button>
                    <a class="btn green btn-outline btn-circle btn-sm tooltips" data-original-title="Tìm kiếm" data-placement="top" data-remote="true" href="#"><i class="fa fa-search"></i>Tìm kiếm</a>
                    <button data-toggle="confirmation" data-placement="left" type="submit" form="myForm"
                            class="btn green btn-outline btn-circle btn-sm"
                            data-template="<div class=&quot;popover confirmation&quot;><div class=&quot;arrow&quot;></div><h3 class=&quot;popover-title&quot;></h3><div class=&quot;popover-content text-center&quot;><div class=&quot;btn-group&quot;><a class=&quot;btn&quot; data-apply=&quot;confirmation&quot;></a><a class=&quot;btn&quot; data-dismiss=&quot;confirmation&quot;></a></div></div></div>"
                            data-original-title="" title="">
                        <i class="fa fa-trash font-red"></i>Xóa nhiều
                    </button>

                </div>
                <div class="row">
                    <div class="card-body">
                        <table class="table table-striped table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th class="text-center">
                                        <div class="md-checkbox-inline service-checkbox">
                                            <div class="icheck-primary d-inline ml-2">
                                                <input type="checkbox" value="" name="todo1" id="todoCheck1">
                                                <label for="todoCheck1"></label>
                                            </div>
                                        </div>
                                    </th>
                                    <th>Tên khu/Tòa nhà</th>
                                    <th>Địa chỉ</th>
                                    <th>Tổng số phòng</th>
                                    <th>Tổng số phòng trống</th>
                                    <th>Mô tả</th>
                                    <th></th>
                                </tr>
                            </thead>


                            <tbody>
                                @{

                                    foreach (var item in Model.listNhaTro)
                                    {
                                        <tr class="item-1932 highlight">
                                            <td class="text-center">
                                                <a class="btn btn-circle btn-icon-only btn-default tooltips"
                                                   onclick="ShowPopup('@Url.Action("AddOrEdit","NhaTro",new { id = item.MaNT }, Context.Request.Scheme)','Chỉnh sửa')"
                                                   data-remote="true"
                                                   id="btnEdit"
                                                   data-placement="top" data-original-title="Chỉnh sửa">
                                                    <i class="fas fa-edit"></i>
                                                </a>
                                            </td>
                                            <td class="text-center">
                                                <div class="md-checkbox-inline service-checkbox">
                                                    <div class="icheck-primary d-inline ml-2">
                                                        <input type="checkbox" value="" name="todo2" id="ck-1932">
                                                        <label for="ck-1932">
                                                            <span></span><span class="check"></span><span class="box"></span>
                                                        </label>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>@item.Ten</td>
                                            <td>@item.DiaChi</td>
                                            <td>@item.TongPhong</td>
                                            <td>@item.PhongTrong</td>
                                            <td>@item.Mota</td>
                                            <td class="text-center">
                                                <form asp-action="Delete"
                                                    asp-route-id="@item.MaNT"
                                                    onsubmit="return jQueryAjaxDelete(this)">
                                                    <button type="submit"
                                                           class="btn red btn-circle btn-icon-only btn-default"
                                                            ><i class="fas fa-trash"></i></button>
                                                </form>
                                            </td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>

                </div>
                <div class="row">
                    <div class="card-tools">
                        <ul class="pagination pagination-sm">
                            <li class="page-item"><a href="#" class="page-link">&laquo;</a></li>
                            <li class="page-item"><a href="#" class="page-link">1</a></li>
                            <li class="page-item"><a href="#" class="page-link">2</a></li>
                            <li class="page-item"><a href="#" class="page-link">3</a></li>
                            <li class="page-item"><a href="#" class="page-link">&raquo;</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.col -->
    </div>
</div>



